# Something
.cache/
.gnupg/
.compose-cache/
.config/GIMP
.gnome/
.local/
.mozilla/
.npm/
.wget-hsts

# Nix things
.nix-defexpr/
.nix-profile 

# X Session things
.Xauthority
.xsession-errors*

# Zsh things
.zcompdump*
.zsh_history
.zshenv
.profile
.oh-my-zsh/

# ???
Downloads/
Desktop/
Documents/
Pictures/

# Git
.git-credentials
.gitconfig

# Noconf
.config/QtProject.conf
.config/flameshot/
.config/menus/
.config/pulse/
.config/dconf/
.config/vifm/
.dmrc
.config/pavucontrol.ini
.shell.pre-oh-my-zsh

# Rust 
.cargo/
.rustup/

# Haskell 
.ghcup/
.stack/
.cabal/
.ghc/
.config/ghc/
