# Something
.cache/
.gnupg/
.local/
.mozilla/
.wget-hsts

# X Session things
.Xauthority
.xsession-errors*

# Zsh things
.zcompdump*
.zsh_history
.zshenv
.profile
.oh-my-zsh/

# ???
Downloads/
Desktop/
Documents/
Pictures/

# Git
.git-credentials
.gitconfig

# Not config
.config/flameshot/
.config/menus/
.config/pulse/
.config/dconf/
.config/pavucontrol.ini

# Rust 
.cargo/
.rustup/

# Haskell 
.ghcup/
.stack/
.cabal/
.ghc/
.config/ghc/
